body {
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
.container{
    display: flex;
    flex-direction: column;

    background-color: #F5F5F5;
    height: 100vh;
  
}


.ambas {
    display: flex;
    flex-direction: row;
    height: 100vh;
      
  
}

.icones img{
    width: 2.7em;
    
}

.icones{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 5em;
    margin-right: 1em

}



.ladoesq{
    width: 18em;
    height: 100vh;
    position: sticky;

    background-color: #2B3031;
    padding-top: 2em;
}

.ladodir {
    
    background-color: #F5F5F5;   
}

.seguran {
    margin-left: 3em;
}
.bola{
    background-color: #986CDF;
    border-radius: 50%;
    width: 45px;
    height: 46px
}

.cabecalho{
    display: flex;
    flex-direction: row;
    width: 64em;
    height: 3.5em;
    background-color: white;
    justify-content: space-between;
   
}
.mae-cab{
    display: flex;
    flex-direction: row;
}

.cab img{
  width: 3em;
}

.aluno-novo{
    display: flex;
    flex-direction: column;

    padding-top: 1em;
    margin-top: 2em;

    background-color: white;
    width: 55em;

    padding-left: 3.5em;
    height: 13em;
}

.geren-1{
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    padding-top: 2em;
}

.geren{
   
    margin-right: 1em;
}

.titu{
    display: flex;
    flex-direction: row;
    margin-left: 4em;
}
.titulo{
    padding-top: 0.5em;
}
.back{
    background-color: #262626;
    height: 3em;
    color: #262626;
}

.segu-1{
    display: flex;
    flex-direction: row;
  
    margin-left: 1.2em;
}

.segu-2{
    padding-top: 1em;
    display: flex;
    flex-direction: row;
}


.botao{
    padding-top: 0.2em;
    padding-left: 1.1em;
}
.curso {
    margin-left: 4.3em;
}
.turma{
    margin-left: 4em;
}

input {
    width: 15em;
    height: 2em;
}

.forms{ 
   display: flex;
   flex-direction: row;
}

.Matriculados {
    margin-top: 3em;
    padding-left: 2em;
    width: 55em;
    height: 50vh;
    background-color: white;
}

.al{
    display: flex;
    flex-direction: row;
}

.barrin {
    margin-top: 1.3em;
    margin-right: 1em;
}

